.img1 {
    width: 30% !important;
}
.loginleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
}
.signwrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.sign{

    background-color: black;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    box-shadow: 10px 20px 30px 10px #ffffff12;
    border-radius: 10px;
    padding: 30px 50px;
}